.Collection_box{
    	width: 100%;
    }
    .Collection_list{
    	margin-top: 10px;
    	background: #f4f4f4;
    }
    .Collection_list a{
    	color:#000;
    }
   
    .Collection_box_title{
    	font-size: 16px;
    	margin: 10px 0 5px 30px;
    }
    .Collection_title_color.Collection_title_color_active{
        color:#3A8D71;
    }
    .Collection_box_text{
    	font-size: 14px;
    	line-height: 30px;
    	margin-left:30px;
    	text-indent: 2em;

    }
    .Collection_box_delete{
    	width: 20px;
    	height: 20px;
    	margin-left: 10px;
    	background:#8f949c;
    	color:#fff;
    	text-align: center;
    	cursor:pointer;
    }
    .Collection_box_delete.Collection_box_db{
    	background: #3A8D71;
    }

    .Collection_paging{
    	margin: 20px 0 0 20px;
    }	